.shadow {
  filter: drop-shadow(0 0 0.25rem black);
}
.mpls {
  background-image: url(./images/minneapolis-skyline.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
